.code {
  display: block;
  padding: 0.75rem;
  overflow: auto;
  overflow-y: hidden;
  font-family: Monaco, Menlo, "Fira Mono", monospace;
  font-size: 0.825rem;
  line-height: 1.6;
  color: rgba(0, 0, 0, 0.84);
  background: #fff;
  border: 1px solid #c8c8c8;
  border-radius: 4px;
}
