@import "./code.pcss";

.code-highlight {
  display: inline-block;
  padding: 0.125rem;
  margin: 0.125rem 0;
  background: #fff478;
}

.code-selector-pseudo,
.code-selector-tag,
.code-selector-class {
  color: #c82829;
}

.code-attribute {
  color: #917100;
}

.code-number {
  color: #667e00;
}
