section.community
  .community_inner
    .community_banner
      h2.community_title Built by community for community
      p.community_body
        | PostCSS is developed and maintained by hundreds of open source contributors. Become part of the family — #[a.community_submit( href="https://github.com/postcss/postcss/issues" ) submit your first Pull Request!]
    ul.community_contributors
