/* Some global resets */
:global(body),
:global(html) {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

:root {
  --purple: #7340c4;
}

/* * */

.wrapper {
  max-width: 50rem;
  margin: auto;
  font-family: system, -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
