.gitter-open-chat-button {
  font-family: "Fira Sans", sans-serif;
  font-size: 14px;
  background-color: #dd3808;
}

.gitter-open-chat-button:hover,
.gitter-open-chat-button:focus {
  background-color: #c73307;
}
