nav.way
  ul.way_items
    li.way_item
      a.way_link( href="https://github.com/postcss/postcss#usage" )
        | Setup
    li.way_item
      a.way_link( href="/docs/" )
        | Documentation
    li.way_item
      a.way_link( href="https://github.com/postcss/postcss#articles" )
        | Learn
    li.way_item
      a.way_link( href="/docs/postcss-plugins" )
        | Plugins
    li.way_item
      a.way_link( href="https://opencollective.com/postcss/" )
        | Donate
