nav.way
  ul.way_items
    li.way_item
      a.way_link( href="https://github.com/postcss/postcss#usage" )
        | Installation & Setup
    li.way_item
      a.way_link( href="https://github.com/postcss/postcss/tree/master/docs" )
        | Documentation
    li.way_item
      a.way_link( href="https://github.com/postcss/postcss#articles" )
        | Learn
    li.way_item
      a.way_link( href="http://postcss.parts/" )
        | Plugins
