.item {
  background: #faf8f5;
  padding: 2rem 1rem;
}

.itemInner {
  margin: 0 auto;
  max-width: 45rem;
}

.body {
  color: #636870;
  font-size: 0.9375rem;
  line-height: 1.55;
  margin-top: 1rem;
}

.error {
  font-size: 1rem;
}

.title {
  color: #3f526b;
  font-size: 1.5625rem;
  font-weight: lighter;
  line-height: 1.28;
}

.link {
  color: inherit;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.redirectMessage {
  color: #3f526b;
  font-size: 0.9375rem;
  font-style: 300;
  margin-top: 2rem;
  text-align: center;
}
