.root { /* placeholder */ }

.header {
  align-items: center;
  display: flex;
}

.logo {
  margin-right: 1rem;
}

.title {
  color: #3f526b;
  font-size: 1.5625rem;
  font-weight: lighter;
  line-height: 1.28;
}

:global(.fira-sans-loaded) .title {
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
}

.body {
  color: #636870;
  font-size: 0.9375rem;
  line-height: 1.55;
  margin-top: 1rem;
}

.tool {
  color: inherit;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.item {
  background: #faf8f5;
  padding: 2rem 1rem 1rem;
}

.itemAlt {
  composes: item;
  background: #f4f2ed;
}

.example {
  padding: 1rem 1rem 0;
}

.figure {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  margin-right: 1rem;
  overflow: hidden;
}

.figureOutput {
  composes: figure;
  flex-direction: column;
  margin-left: 1.1rem;
  margin-right: 0;
  transform: translateY(-1rem);
}

.pre {
  background: white;
  border: 1px solid gray(200);
  border-radius: 4px;
  color: color(black a(84%));
  overflow: auto;
  padding: 0.3rem;
}

.code {
  font-family: Monaco, Menlo, "Fira Mono", monospace;
  font-size: 0.675rem;
  line-height: 1.6;
  overflow-x: hidden;
}

.highlight {
  background: #fff478;
  display: inline-block;
  margin: 0.125rem 0;
  padding: 0.125rem;
}

.caption {
  position: absolute;
  top: 1px;
  right: 1px;
  border-top-right-radius: 3px;
  background-color: #f4f2ed;
  color: color(#48463e a(54%));
  font-size: 0.6875rem;
  line-height: 1.5;
  padding: 0.125rem 0.25rem;
}

.captionOutput {
  composes: caption;
  text-align: right;
}

@media (width > 640px) {
  .itemInner {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 45rem;
  }

  .itemInnerAlt {
    composes: itemInner;
    flex-direction: row-reverse;
  }

  .info {
    margin-right: 0.5rem;
    padding-top: 2rem;
  }

  .infoAlt {
    composes: info;
    margin-left: 1.5rem;
    margin-right: 0;
  }

  .example {
    min-width: 23rem;
    padding: 1rem 0 0;
  }
}
