.root {
  position: relative;
  align-items: center;
  background: #faf8f5;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 340px;
  justify-content: center;
  padding: 0 1rem;
  overflow: hidden;
}

.title {
  color: #dd3a0a;
  font-size: 26px;
  font-weight: normal;
  line-height: 32px;
  text-align: center;
}

:global(.fira-sans-loaded) .title {
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
}

.body {
  color: #3f526b;
  font-size: 15px;
  line-height: 28px;
  margin: 2rem auto 0;
  max-width: 34rem;
  text-align: center;
}

.submit {
  color: #3f526b;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.banner {
  text-shadow: 0 0 3px #fff;
  z-index: 1;
}

.contributors {
  position: absolute;
  top: 20px;
  left: calc(50% - 600px);
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  z-index: 0;
}

.avatar {
  display: block;
  margin: 6px;
  padding: 0;
  line-height: 60px;
  width: 48px;
  height: 48px;
  overflow: hidden;
  opacity: 0.1;
  border-radius: 100%;
  transition: opacity 0.5s;

  &:hover {
    transition: opacity 0;
    opacity: 1;
  }
}
