@font-face {
  font-family: "Fira Sans";
  font-weight: 500;
  src: url(./fira-sans-500.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Fira Sans";
  font-weight: 400;
  src: url(./fira-sans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Fira Sans";
  font-weight: 300;
  src: url(./fira-sans-300.woff2) format("woff2");
  font-display: swap;
}
