section.sponsors
  h2.sponsors_title Sponsors
  br
  br
  div( align="center" )
    a( href="https://go.warp.dev/postcss" )
      img( alt="Warp sponsorship" width="400" src="https://github.com/user-attachments/assets/ab8dd143-b0fd-4904-bdc5-dd7ecac94eae" )
      br
      | Warp, built for coding with multiple agents
  ul.sponsors_items
    li.sponsors_item.is-tailwindcss
      a.sponsors_link( target="_blank" rel="noopener" href="https://tailwindcss.com/" )
        img.sponsors_logo( alt="Tailwind" src="./sponsors/tailwind.svg" )
    li.sponsors_item.is-themeisle
      a.sponsors_link( target="_blank" rel="noopener" href="https://themeisle.com/" )
        img.sponsors_logo( alt="Tailwind" src="./sponsors/themeisle.png" )
  p.sponsors_join
    | Is your company using PostCSS? #[a.sponsors_fund( href="https://opencollective.com/postcss/" ) Join this list!]
