section.sponsors
    h2.sponsors_title Sponsors
        ul.sponsors_items
            li.sponsors_item
                a.sponsors_link( target="_blank" href="https://tailwindcss.com/" )
                    img.sponsors_logo( alt="Tailwind" src="./sponsors/tailwind.svg" ) 
