section.sponsors
  h2.sponsors_title Sponsors
    ul.sponsors_items
      li.sponsors_item.is-tailwindcss
        a.sponsors_link( target="_blank" rel="noopener" href="https://tailwindcss.com/" )
          img.sponsors_logo( alt="Tailwind" src="./sponsors/tailwind.svg" )
      li.sponsors_item.is-themeisle
        a.sponsors_link( target="_blank" rel="noopener" href="https://themeisle.com/" )
          img.sponsors_logo( alt="Tailwind" src="./sponsors/themeisle.png" )
    p.sponsors_join
      | Is your company using PostCSS? #[a.sponsors_fund( href="https://opencollective.com/postcss/" ) Join this list!]
