.root { /* placeholder */ }

.wayFinder {
  padding-top: 2rem;
}

.showcase {
  background: url("./burst.svg") center 3rem no-repeat;
  padding-top: 5rem;
}

.byTheCommunity {
  background: url("./flowers.svg") center 1rem no-repeat;
  padding-top: 4rem;
}
