aside.socials
  ul.socials_items
    li.socials_item
      a.socials_link.is-open-collective( href="https://opencollective.com/postcss/" rel="me" )
        | Open Collective
    li.socials_item
      a.socials_link.is-twitter( href="https://twitter.com/postcss" rel="me" )
        | Twitter
    li.socials_item
      a.socials_link.is-github( href="https://github.com/postcss/postcss" rel="me" )
        | GitHub
