aside.socials
  ul.socials_items
    li.socials_item
      a.socials_twitter( href="https://twitter.com/postcss" )
        | Twitter
    li.socials_item
      a.socials_gitter( href="https://gitter.im/postcss/postcss" )
        | Gitter
    li.socials_item
      a.socials_github( href="https://github.com/postcss/postcss" )
        | GitHub
