aside.socials
  ul.socials_items
    li.socials_item
      a.socials_link.is-twitter( href="https://twitter.com/postcss" )
        | Twitter
    li.socials_item
      a.socials_link.is-gitter( href="https://gitter.im/postcss/postcss" )
        | Gitter
    li.socials_item
      a.socials_link.is-github( href="https://github.com/postcss/postcss" )
        | GitHub
