.root {
  justify-content: center;
  padding: 1rem;
}

.title {
  color: #dd3a0a;
  font-size: 1.625rem;
  font-weight: normal;
  line-height: 1.25;
  text-align: center;
}

:global(.fira-sans-loaded) .title {
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
}

.items {
  margin: 1.5rem auto 0;
}

.item {
  display: block;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.logo {
  max-width: 100%;
}

.callToAction {
  color: #3f526b;
  font-size: 0.9375rem;
  font-style: 300;
  margin: 2rem auto 0;
  max-width: 34rem;
  text-align: center;
}

.letUsKnow {
  color: #3f526b;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

@media (width > 410px) {
  .items {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .item {
    flex-basis: calc(33% - 2rem);
  }
}

@media (width > 800px) {
  .item {
    flex-basis: 150px;
  }
}
