.root {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  height: 50px;
  justify-content: space-between;
  padding: 0 1rem;
  width: 100%;
}

@media (width > 500px) {
  .root {
    justify-content: flex-end;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
  }

  .item {
    margin-left: 1rem;
  }
}
