.root {
  background: #f4f2ed;
  padding: 0 1rem;
}

.inner {
  text-align: center;
}

.info {
  color: #48463e;
}

.report {
  color: #48463e;
  margin-left: 0.25rem;
}

@media (width > 500px) {
  .inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 50rem;
    text-align: initial;
  }
}
