.root {
  background: #f4f2ed;
  padding: 3rem 1rem;
}

.inner {
  text-align: center;
}

.info {
  color: color(#48463e a(46%));
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 0.25rem;
}

.issue {
  margin-bottom: 1rem;
}

.report {
  color: color(#48463e a(46%));
  display: inline-block;
  text-decoration: underline;
  margin-left: 0.25rem;

  &:hover {
    text-decoration: none;
  }
}

@media (width > 500px) {
  .inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 50rem;
    text-align: initial;
  }
}
