.root {
  background: #eee7df;
}

.inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 50rem;
  margin: 0 auto;

  @media (width >= 500px) {
    text-align: initial;
    justify-content: space-between;
    flex-direction: row;
  }
}

.info {
  color: #48463e;
}

.report {
  color: #48463e;
  margin-left: 0.25rem;
}
