.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  width: 100%;
}

:local(.item) {
  color: #eee7df;
}

.left .item {
  margin-left: 2em;
}

.right .item {
  margin-right: 2em;
}
