.root {
  align-items: center;
  background: #2b2723 url("./alchemy.jpg") no-repeat center bottom;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 27.5rem;
}

.logo {
  margin-top: 5rem; /* Navigation/Social height */
}

.title {
  color: #fff;
  font-size: 36px;
}

.tagline {
  color: #fff;
  font-size: 32px;
  line-height: 28px;
  margin-top: 1rem;
  padding: 0 1rem;
  text-align: center;
}
