.root {
  align-items: center;
  background: #2b2723 url("./alchemy.jpg") no-repeat 50% 75%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 24rem;
}

.logo {
  margin-top: 5rem; /* Navigation/Social height */
}

.title {
  color: #fff;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 500;
}

.tagline {
  color: #fff;
  font-family: sans-serif;
  font-size: 32px;
  font-weight: 300;
  line-height: 28px;
  margin-top: 1rem;
  padding: 0 1rem;
  text-align: center;
}

:global(.fira-sans-loaded) .title,
:global(.fira-sans-loaded) .tagline {
  font-family: "Fira Sans", sans-serif;
}
