doctype html
html( lang="en" )
  head
    include ./base/base.pug
    title PostCSS Documentation
    link( rel="stylesheet" href="./docs.pcss" )
  body
    main
      include ./hero/fixed.pug
      include ./nav/nav.pug
      include ./socials/socials.pug
      include ./footer/footer.pug
    script( type="module" ) import './sidemenu/sidemenu.js'
