doctype html
html( lang="en" )
  head
    include ./base/base.pug
    link( rel="stylesheet" href="/index.pcss" )
  body
    include ./hero/hero.pug
    include ./nav/nav.pug
    include ./socials/socials.pug
    include ./footer/footer.pug
