doctype html
html( lang="en" )
  head
    include ./base/base.pug
    link( rel="stylesheet" href="/index.pcss" )
  body
    main
      include ./hero/hero.pug
      include ./features/features.pug
    include ./nav/nav.pug
    include ./socials/socials.pug
    include ./footer/footer.pug
