doctype html
html( lang="en" )
  head
    meta( charset="utf-8" )
    title PostCSS - a tool for transforming CSS with JavaScript
    meta( name="viewport" content="width=device-width, initial-scale=1" )
    link( rel="stylesheet" href="/index.css" )
  body
