nav.nav
  ul.nav_items
    li.nav_item
      a.nav_link( href="https://github.com/postcss/postcss#usage" )
        | Setup
    li.nav_item
      a.nav_link( href="https://github.com/postcss/postcss/tree/main/docs" )
        | Docs
    li.nav_item
      a.nav_link( href="https://www.postcss.parts/" )
        | Plugins
    li.nav_item
      a.nav_link( href="/api/" )
        | API
    li.nav_item
      a.nav_link( href="https://github.com/postcss/brand" )
        | Logo
