nav.nav
  ul.nav_items
    li.nav_item
      a.nav_link( href="https://github.com/postcss/postcss#usage" )
        | Setup
    li.nav_item
      a.nav_link( href="https://github.com/postcss/postcss/tree/master/docs" )
        | Docs
    li.nav_item
      a.nav_link( href="https://github.com/postcss/postcss#articles" )
        | Learn
    li.nav_item
      a.nav_link( href="http://postcss.parts/" )
        | Plugins
    li.nav_item
      a.nav_link( href="http://api.postcss.org/" )
        | API
    li.nav_item
      a.nav_link( href="https://github.com/postcss/brand" )
        | Logo
