footer.footer
  .footer_inner
    .footer_info
      p.footer_license Distributed under the MIT License.
      p.footer_issue
        | Found an issue?
        a.footer_report( href="https://github.com/postcss/postcss.org/issues" )
          | Report it!
    .footer_logo
      a.footer_martians( href="https://evilmartians.com/?utm_source=postcss&utm_campaign=homepage" )
        img.footer_image( alt="Evil Martians" src="./footer/evilmartians.svg" )
