.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 21rem;
  background: #4d4634 url("./alchemy.jpg") no-repeat 50% 13%;
  background-size: cover;
}

.hero_logo {
  margin-top: 5rem;
}

.hero_title {
  font-size: 2.25rem;
  font-weight: 500;
  color: #fff;
}

.hero_tag {
  padding: 0 1rem;
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 0.875;
  color: #fff;
  text-align: center;
}
