meta( charset="utf-8" )
meta( name="viewport" content="width=device-width, initial-scale=1" )

meta( property="og:type" content="article" )
meta( property="og:url" content="http://postcss.org/" )

meta( name="twitter:card" content="summary" )
meta( name="twitter:site" content="@postcss" )
meta( name="twitter:creator" content="@postcss" )

meta( name="description" content="Transform CSS with the power of JavaScript. Auto-prefixing, future CSS syntaxes, modules, linting and more are possible with hundreds of PostCSS plugins." )

link( rel="icon" type="image/x-icon" sizes="any" href="./base/favicon.ico" )
link( rel="icon" href="./base/logo.svg" type="image/svg+xml" )
meta( property="og:image" content="./base/og.jpg" )

