link( rel="shortcut icon" type="image/x-icon" href="./base/favicon.ico" )
link( rel="icon" type="image/png" href="./base/favicon.png" sizes="192x192" )
meta( property="og:image" content="./base/og.jpg" )
