section.showcase
  h2.showcase_title Trusted by industry leaders
  ul.showcase_items
    li.showcase_item
      img.showcase_logo( alt="Facebook" src="./showcase/facebook.svg" )
    li.showcase_item
      img.showcase_logo( alt="GitHub" src="./showcase/github.svg" )
    li.showcase_item
      img.showcase_logo( alt="Google" src="./showcase/google.svg" )
    li.showcase_item
      img.showcase_logo( alt="WordPress" src="./showcase/wordpress.svg" )
    li.showcase_item
      img.showcase_logo( alt="Wikipedia" src="./showcase/wikipedia.svg" )
    li.showcase_item
      img.showcase_logo( alt="JetBrains" src="./showcase/jetbrains.svg" )
    li.showcase_item
      img.showcase_logo( alt="Taobao" src="./showcase/taobao.svg" )
